pandas
sqlalchemy
psycopg2-binary
python-dotenv

langchain
langchain-community
langchain-core
langchain-openai
langchain-nvidia-ai-endpoints
langgraph
fastapi
langchain-milvus

bcrypt
python-multipart
passlib
python-jose

pandas
plotly
pydantic[email]